<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Software_Engineering_Project_New.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Software_Engineering_Project_New.Properties.Settings.CitisoftConnectionString"
            connectionString="Data Source=(LocalDB)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Citisoft.mdf;Integrated Security=True;Connect Timeout=30"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <applicationSettings>
        <Software_Engineering_Project_New.Properties.Settings>
            <setting name="EmailUsername" serializeAs="String">
                <value>citisoftemployment@gmail.com</value>
            </setting>
            <setting name="EmailPassword" serializeAs="String">
                <value>MOD003263</value>
            </setting>
        </Software_Engineering_Project_New.Properties.Settings>
    </applicationSettings>
</configuration>